<?xml version="1.0" encoding="utf-8"?>
<Content Key="07e7bd45-b908-47a8-bfcd-b38c97b623a4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-10-29T17:34:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d712f672-aa8d-4835-b8a6-368b7effcebc">Home</Template>
  </Info>
  <Properties />
</Content>